# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.js text eol=lf
*.json text eol=lf
*.vue text eol=lf
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.webp binary

# Archives
*.zip binary
*.tar binary
*.gz binary

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.eot binary
